.game-selector {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 900px;
  height: 300px;
  justify-content: center;
  gap: 40px;
  margin :0px 20px 20px 20px;
}

.game-box {
  background: var(--glass-strong);
  padding: 20px;
  border-radius: var(--radius);
  width: 450px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.game-box h2 {
  color: var(--primary);
}

.game-box p {
  color: var(--text);
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}

/* ============================= */
/* RESPONSIVE 780px           */
/* ============================= */

@media (max-width: 780px) {

  .game-selector {
    flex-direction: column;
    width: 100%;
    align-items: center; /* CENTRA LOS CUADRADOS */
    gap: 25px;
  }

  .game-box {
    width: 85%; /* Igual que en 500px */
  }
}


/* ============================= */
/* RESPONSIVE 500px           */
/* ============================= */

@media (max-width: 500px) {

  .game-selector {
    flex-direction: column;
    width: 100%;
    align-items: center; /* CENTRA LOS CUADRADOS */
    gap: 25px;
  }

  .game-box {
    width: 85%; /* ✔ EXACTAMENTE LO QUE PEDISTE */
    padding: 20px;
  }
}
